@model BackendCapstone.Models.ViewModels.VehicleIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Current Inventory</h1>
@if (Model.IsOffice == true)
{
    <p>
        <a  class="btn btn-success" asp-action="Create">Create New</a>
    </p>

}
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].BrokerPrice)
            </th>
            <th>
                Broker
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            @if (Model.IsOffice == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mileage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrokerPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Broker.FullName)
                    </td>
                    
                    <td>
                        <a class="btn btn-secondary" asp-action="EditInventory" asp-route-id="@item.VehicleId">Edit</a>  
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.VehicleId">Details</a> 
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>  
                        <a class="btn btn-secondary"asp-action="Edit" asp-route-id="@item.VehicleId">Sell Vehicle</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mileage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrokerPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Broker.FullName)
                    </td>
                    <td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a>
                       
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
