@model IEnumerable<BackendCapstone.Models.Vehicle>

@{
    ViewData["Title"] = "MyIndex";
}

<h1>My Vehicles</h1>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrokerPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <th>
                @Html.DisplayFor(model => item.Make)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrokerPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedCost)
            </td>
        </tr>
}
    </tbody>
</table>
